@use "../../resetSass/resetSass";

$top-color: rgb(0, 94, 0);
$mid-color: rgb(12, 124, 12);
$bot-color: rgb(30, 143, 30);
$bg: rgb(0, 24, 0);

body {
  background-color: $bg;
}
.container {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  .wave {
    position: absolute;
    width: 500px;
    height: 150px;
    left: -50px;
    .circle {
      position: relative;
      float: left;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      top: -24px;
      &:nth-child(even) {
        top: -26px;
      }
    }
  }
  .wave-top {
    top: 225px;
    background-color: $top-color;
    animation: wave-top 4s ease-in-out alternate infinite;
    .circle {
      background-color: $top-color;
      &:nth-child(even) {
        background-color: $bg;
      }
    }
  }
  .wave-mid {
    top: 280px;
    background-color: $mid-color;
    animation: wave-mid 4s ease-in-out alternate infinite;
    .circle {
      background-color: $mid-color;
      &:nth-child(even) {
        background-color: $top-color;
      }
    }
  }
  .wave-bot {
    top: 335px;
    background-color: $bot-color;
    animation: wave-bot 4s ease-in-out alternate infinite;
    .circle {
      background-color: $bot-color;
      &:nth-child(even) {
        background-color: $mid-color;
      }
    }
  }
}

@keyframes wave-top {
  from {
    transform: translate3d(-20px, 0, 0);
  }
  to {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes wave-mid {
  from {
    transform: translate3d(10px, 0, 0);
  }
  to {
    transform: translate3d(-10px, 0, 0);
  }
}

@keyframes wave-bot {
  from {
    transform: translate3d(-50px, 0, 0);
  }
  to {
    transform: translate3d(50px, 0, 0);
  }
}
