* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #264057;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 500px;
  height: 500px;
  background-color: #264057;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  /* padding: 100px; */
  overflow: hidden;
}
.container .center .main {
  /* visibility: hidden; */
  position: absolute;
  display: grid;
  top: 50px;
  left: 50px;
  /* z-index: 100; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  width: 400px;
  height: 400px;
  /* box-shadow: 0px 0px 4px black; */
  transition: 0.8s ease-in-out;
  &.active {
    transform: translateX(150px);
  }
}

.main .header {
  background-color: #416380;
}
.main .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .header .menu-icon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  cursor: pointer;
}
.main .header .menu-icon .line-1 {
  width: 32px;
  border: 2px solid #cbdbe9;
  border-radius: 4px;
}
.main .header .menu-icon .line-2 {
  width: 32px;
  border: 2px solid #cbdbe9;
  border-radius: 4px;
}
.main .header .menu-icon .circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #cbdbe9;
  border-radius: 8px;
  border: 3px solid #416380;
  top: -4px;
  right: -4px;
}
.main .header .title {
  color: #cbdbe9;
  font-weight: 600;
}
.main .header .search-icon {
  color: #cbdbe9;
  font-weight: 600;
  cursor: pointer;
}
.main .header input {
  position: absolute;
  width: 70%;
  left: 64px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 16px;
  transition: 0.8s ease-in-out;
  opacity: 0;
  &.active {
    left: 32px;
    opacity: 1;
  }
}
.main .content {
  background-color: #cbdbe9;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
}
.main .content article {
  /* flex: 1; */
  position: relative;
  width: 80%;
  border-left: 4px solid #9fa4a8;
  color: #4c4e4e;
  margin: 0px auto;
  padding: 16px;
  &:hover {
    .article__time,
    .article__message {
      color: #416380;
      cursor: pointer;
    }
  }
}
.main .content article .article__time {
  font-size: 0.8rem;
}
.main .content article .article__message span {
  font-weight: 700;
}
.main .content article .article__circle {
  position: absolute;
  left: -8px;
  top: 18px;
  width: 12px;
  height: 12px;
  background-color: #cbdbe9;
  border: 2px solid #416380;
  border-radius: 8px;
}
.container .center .sideMenu {
  /* z-index: 2; */
  position: absolute;
  display: flex;
  align-items: center;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 300px;
  background-color: #5183ad;
  transition: 0.8s ease-in-out;
  &.showMenu {
    transform: translateX(-80px);
  }
}
.container .sideMenu .items {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  /* justify-content: space-between; */
}
.container .sideMenu .items li {
  padding: 16px;
  color: #cbdbe9;
  &:hover {
    background-color: #416380;
    cursor: pointer;
  }
}

@keyframes here-am-i {
  from {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
