@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,400");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 140, 255);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.6);
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 275px;
    height: 32px;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
    input {
      width: 235px;
      height: 32px;
      padding: 8px;
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      word-spacing: 1px;
      color: #4d8dcb;
    }
    svg {
      position: absolute;
      width: 24px;
      height: 24px;
      stroke: rgb(0, 140, 255);
      right: 8px;
    }
  }
  .searches {
    position: absolute;
    width: 275px;
    top: 217px;
    opacity: 0;
    // border: 1px solid red;
    .text {
      font-size: 13px;
      font-weight: 400;
      width: 100%;
      background-color: white;
      padding: 8px;
      color: #6e6e6e;
      .txt {
        font-weight: 600;
      }
    }
  }
}
