@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a2238;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}
.container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #1a2238;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  overflow: hidden;
  .info {
    z-index: 100;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: azure;
    border-radius: 0px 0px 8px 8px;
    .temperature {
      float: left;
      font-size: 3.2rem;
      padding: 8px;
    }
    .data {
      float: left;
      margin: 20px 0 0 0px;
    }
    .days {
      float: right;
      margin: 20px 12px 0 0px;
    }
  }
  .moon {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: azure;
    box-shadow: 0px 0px 8px azure;
    border-radius: 50%;
    top: 40px;
    left: 40px;
    .crater-n1 {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: rgba(209, 209, 209, 0.5);
      border-radius: 50%;
      top: 10px;
      left: 15px;
    }
    .crater-n2 {
      @extend .crater-n1;
      width: 20px;
      height: 20px;
      top: 40px;
      left: 25px;
    }
    .crater-n3 {
      @extend .crater-n1;
      width: 15px;
      height: 15px;
      top: 15px;
      left: 40px;
    }
    .crater-n4 {
      @extend .crater-n1;
      width: 12px;
      height: 12px;
      top: 35px;
      left: 60px;
    }
  }
  .backcloud-n1 {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #1f263b;
    border-radius: 50%;
    top: 200px;
    left: -80px;
  }
  .backcloud-n2 {
    @extend .backcloud-n1;
    left: 150px;
  }
  .frontcloud-n1 {
    z-index: 10;
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #293149;
    border-radius: 50%;
    top: 250px;
    left: -150px;
  }
  .frontcloud-n2 {
    @extend .frontcloud-n1;
    top: 230px;
    left: 30px;
  }
  .frontcloud-n3 {
    @extend .frontcloud-n1;
    top: 260px;
    left: 230px;
  }
  .gota {
    position: absolute;
    top: 305px;
    z-index: 200;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: aquamarine;
    animation-fill-mode: both;
    transform-origin: 50% 100%;
    &:before {
      position: absolute;
      content: "";
      display: block;
      top: -2px;
      left: 1px;
      width: 6px;
      height: 6px;
      background: aquamarine;
      border-radius: 3px;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      top: -5px;
      left: 2px;
      width: 4px;
      height: 10px;
      background: aquamarine;
      border-radius: 50%;
    }
  }
}

@keyframes drop {
  0% {
    transform: translate3d(80px, -320px, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  85% {
    transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
  }
}
