* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(27, 28, 32);
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  background-color: rgb(49, 48, 48);
  box-shadow: 2px 4px 24px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.container .moon {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 60px;
  width: 72px;
  height: 72px;
  background-color: rgb(226, 223, 223);
  border-radius: 50%;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.4);
  animation: moon 60s linear alternate infinite both;
}
.container .cloud {
  position: absolute;
  fill: rgb(201, 195, 195);
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.3));
}
.container .cloud.big {
  z-index: 3;
  top: 100px;
  left: 100px;
  animation: cloud 60s linear alternate infinite both;
}
.container .cloud.medium {
  z-index: 4;
  top: 70px;
  left: 280px;
  animation: cloud 60s linear alternate infinite both;
}
.container .cloud.small {
  z-index: 2;
  top: 40px;
  left: 200px;
  animation: cloud 60s linear alternate infinite both;
}

@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}
@keyframes moon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
