* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: rgb(21, 20, 20);
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(74, 119, 115);
  background: linear-gradient(0deg, rgb(74, 119, 115) 0%, rgb(45, 37, 159) 100%);
}
.container .star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background-color: white;
}
.container .shooting-star {
  position: absolute;
  width: 80px;
  height: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 0px;
  left: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgb(255, 255, 255) 100%);
  animation: shooting 4s linear infinite;
}

@keyframes shine {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shooting {
  0%, 70% {
    transform: translate3d(-80px, 10px, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(400px, 180px, 0) rotate(20deg);
  }
}
